@media only screen and (orientation: landscape) {
  body,
  summary,
  .markdown-body,
  button, input, select {
    font-size: 16px;
  }
  .contents {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .component-a,
  .component-b {
    width: 50%;
  }
  .global-state {
    width: calc(100%-40px);
    gap: 10px;
  }
  .global-state-row {
    gap: 5px;
    justify-content: center;
    flex-direction: row;
    flex-grow: 3;
  }
  .global-state-col {
    gap: 5px;
    justify-content: center;
  }
}

@media only screen and (orientation: portrait) {
  body,
  summary,
  .markdown-body,
  button, input {
    font-size: calc(16px + 1vmax);
  }
  select {
    font-size: 2vh;
  }
  select option {
    font-size: 16px;
  }
  .contents {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .component-a,
  .component-b {
    width: 100%;
  }
  .global-state {
    width: calc(100%);
    gap: 2em;
  }
  .global-state-row {
    gap: 1em;
    flex-direction: column;
    flex-grow: 1;
  }
  .global-state-col {
    gap: 1em;
  }
  .global-state-row div {
    width: calc(100% - 2vh);
  }

}

body {
  font-family: sans-serif;
}
#monitors-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.global-state {
  display: flex;
  flex-direction: column;
  border: 1px solid #cacaca;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  text-align: center;
  padding: 20px;
}
.global-state-row {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
}
.global-state-row div {
  border: 1px solid #cccccc;
  padding: 0.5em;
  border-radius: 0.5em;
  flex: 1;
}
.global-state-col {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
}
.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
  word-wrap: break-word;
}
.container-lg {
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
button {
  border-radius: 0.5em;
  padding: 0.5em;
  font-weight: bold;
  border: 1px solid #999999;
  margin: 0.5em;
}
button.controls {
  border-radius: 0.2em;
  padding: 0.2em;
  font-size: 1em;
  border: 1px solid #999999;
  margin: 0.2em;
  width: 2em;
  height: 2em;
}
.subscriber {
  background-color: rgba(236, 161, 161, 0.5);
}
.buttonPanel {
  text-align: justify;
}
input {
  padding: 0.5em;
}
summary {
  background-color: rgb(144, 213, 245);
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
img {
  margin: 10px;
  vertical-align:middle;  
}
article {
  background-color: rgba(144, 213, 245, 0.5);
  border-radius: 0.5em;
  padding: 1em;
}
p {
  margin-block-start: 0em;
}
input {
    border-radius: 0.5em;
    border: 1px solid #999999;
}
input:focus {
    border-radius: 0.5em;
    border: 1px solid #000000;
    background-color: #eeeeff;
    outline: none;
}
input:hover {
    border-radius: 0.5em;
    border: 1px solid #000000;
    outline: none;
}
.publisherContainer div {
    background-color: rgba(236, 161, 161, 0.5);
    border: 1px solid rgba(230, 127, 127, 0.5);
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.publisherContainer div.OK {
    background-color: rgba(161, 236, 171, 0.5);
    border: 1px solid rgba(107, 211, 121, 0.5);
}
.observer {
  border: solid 1px #aaaaaa;
  text-align: center;
  margin: 0.25em;
  padding: 0.5em;
  background-color: #eeffee;
  border-radius: 0.2em;
}
.inactiveObserver {
  background-color: #eeeeee;
}
.PublisherSubscriberDemo div {
  justify-content: right;
}
.title {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.info {
  font-size: 0.9em;
  width: 100%;
}
input[type="radio"] {
  width: 1.5em;
  height: 1.5em;
  min-width: 1.5em;
  min-height: 1.5em;
}
.activeSensor {
  background-color: #eeffee;
}
.activeSensor:focus {
  background-color: #ddeedd;
}
.nohelp {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.2em;
  padding: 0.2em;
}
.help {
  background-color: aquamarine;
  border: 1px solid #999999;
  border-radius: 0.2em;
  padding: 0.2em;
}
input[type="radio"],
button {
  cursor: pointer;
}
.hidden {
  display: none;
}
#indicator {
  width: 250px;
  height: 250px;
}
.triangle {
  fill: transparent;
  stroke: #000000;
  stroke-width: 1;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  outline: none !important;
}
textarea:active {
  border: 2px solid #ccc;
}
.cbItem {
  background-color: #cccccc;
}