@media only screen and (orientation: landscape) {
    body,
    summary,
    .markdown-body,
    button, input {
      font-size: 16px;
    }
    .global-state {
      width: calc(100%-40px);
      gap: 10px;
      flex-direction: row;
    }
    .global-state-row {
      gap: 5px;
    }
    .global-state-col {
      gap: 5px;
      font-size: 16px;
      width: auto;
    }
  }

  
@media only screen and (orientation: portrait) {
    body,
    summary,
    .markdown-body,
    button, input {
      font-size: 2vh;
    }
    .global-state {
      width: calc(100%);
      gap: 2vh;
      flex-direction: column;
    }
    .global-state-row {
      gap: 1vh;
    }
    .global-state-col {
      gap: 1vh;
      font-size: 1.5vh;
      width: 100%;
    }
  
  }
  
  body {
    font-family: sans-serif;
  }
  .global-state {
    display: flex;
    border: 1px solid #cacaca;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    padding: 20px;
  }
  .global-state div {
      margin-left: auto;
      margin-right: auto;
  }
  .global-state-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .global-state-col {
    display: flex;
    flex-direction: column;
    text-align: left;
    word-wrap: break-word;
  }
  .markdown-body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.5;
    word-wrap: break-word;
  }
  .container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }
  button {
    border-radius: 4px;
    border-width: 1px;
    padding: 5px;
    font-weight: bold;
  }
  summary {
    background-color: rgb(144, 213, 245);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
  }
  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  img {
    margin: 10px;
    vertical-align:middle;  
  }
  article {
    background-color: rgba(144, 213, 245, 0.5);
    border-radius: 10px;
    padding: 10px;
  }
  p {
    margin-block-start: 0em;
  }
  
  input {
      border-radius: 5px;
      border: 1px solid #999999;
  }
  
  input:focus {
      border-radius: 5px;
      border: 1px solid #000000;
      background-color: #eeeeff;
      outline: none;
  }
  
  input:hover {
      border-radius: 5px;
      border: 1px solid #000000;
      outline: none;
  }
  
  button {
      border-radius: 5px;
      border: 1px solid #999999;
      margin-top: 10px;
  }
  .outputContainer {
      background-color: rgba(240, 255, 239, 0.5);
      border: 1px solid rgba(207, 228, 208, 0.5);
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      text-align: left;
      max-height: 200px;
      overflow: auto;
  }
.outputContainer p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.CritialError {
  font-weight: bold;
  color: red;
}